body {
    font-family: "Roboto", sans-serif;

    .roboto-thin {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: normal;
    }

    .roboto-light {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
    }

    .roboto-regular {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .roboto-medium {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    .roboto-bold {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .roboto-black {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
    }

    .roboto-light-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: italic;
    }

    .roboto-regular-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
    }

    .roboto-medium-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
    }

    .roboto-bold-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: italic;
    }

    .roboto-black-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: italic;
    }

    .roboto-thin-italic {
        font-family: "Roboto", sans-serif;
        font-weight: 100;
        font-style: italic;
    }

    margin: 0 auto;
    width: 960px;

}

h1,
h2,
h3 {
    color: brown;
}

ul {
    list-style-image: url("images/tiny-coffee-cup.gif");
}

a:link,
a:visited {
    text-decoration: none;
    color: brown;
    font-weight: bold;
}

a:hover {
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a:link,
nav a:visited {
    background-color: brown;
    color: white;
    display: block;
    width: 160px;
    text-align: center;
    padding: 10px 0;
}

nav a:hover {
    background-color: black;
}

aside {
    width: 280px;
    float: right;
    background-color: tan;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-left: 20px;
}

.photo-left {
    float: left;
    margin-right: 20px
}

.photo-right {
    float: right;
    margin-left: 20px
}

header {
    background-image: url("images/coffee-beans.jpg");
    height: 100px;
    margin-bottom: 70px;
}

header h1 {
    color: rgba(255, 255, 255, 0.8);
    margin: 30px 0 0 30px;
    font-size: 50px;
}

footer {
    margin: 40px 0;
}

footer nav a:link,
footer nav a:visited {
    color: gray;
    text-decoration: none;
    display: block;
    width: 160px;
    text-align: center;
    background-color: white;
}

footer nav a:hover {
    color: black;
}